@font-face {
    font-family: "League Spartan";
    src: url("../assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
}

body {
    margin: 0px;
}

.wrapper {
    font-family: "League Spartan", serif;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

$dark-gray: hsl(0, 0%, 63%);
$very-dark-gray: hsl(0, 0%, 27%);

///==================
/// Upper-left block:

.main-image {
    grid-area: 1 / 1 / 5 / 7;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url("../assets/images/desktop-image-hero-1.jpg");
}

.nav-menu {
    padding: 5% 0 0 5%;
}

%default-link {
    display:inline;
    margin-right: 10px;
    color: white;
    font-weight: 500;
    &:hover {
        cursor: pointer;
    }
}

%default-link-line {
    &:hover {
        cursor: pointer;
        text-decoration: underline 2px;
        text-underline-offset: 10px;
    }
}

.page-nav {
    display: inline;
    position: relative;
    top: -34px;
    left: 25px + 50px;

    &__link-list{
        list-style-type: none;
    }
    &__link-1 {
        @extend %default-link;
    }
    &__link-2 {
        @extend %default-link;
    }
    &__link-3 {
        @extend %default-link;
    }
    &__link-4 {
        @extend %default-link;
    }
    &__link-1-line {
        @extend %default-link-line;
    }
    &__link-2-line {
        @extend %default-link-line;
    }
    &__link-3-line {
        @extend %default-link-line;
    }
    &__link-4-line {
        @extend %default-link-line;
    }
}

///==================
/// Upper-right block:

.main-desc {
    grid-area: 1 / 7 / 5 / 11;
    position: relative;
}

.desc-block {
    padding: 15% 15% 15% 15%;

    &__message {
        font-size: 2.6rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    &__description {
        color: $dark-gray;
        font-weight: 500;
        line-height: 1.3rem;
    }

    &__link {
        margin-top: 1.4rem;
        &:hover {
            cursor: pointer;
            color: $dark-gray;
            filter: invert(65%) sepia(0%) saturate(1833%) hue-rotate(150deg) brightness(103%) contrast(79%);
        }
    }

    &__link-text {
        font-weight: 500;
        letter-spacing: 0.2rem;
    }
}

%arrow_default {
    background-color: black;
    padding: 25px 30px 25px 30px;
    &:hover {
        cursor: pointer;
        background-color: $very-dark-gray;
    }
}

.switch-images {
    position: absolute;
    bottom:0;
    left:0;
    // remove whitespace between icons:
    font-size: 0px;

    &__right {
        @extend %arrow_default;
    }
    &__left {
        @extend %arrow_default;
    }
}

///==================
/// Bottom-left block:

.image-about-1 {
    grid-area: 5 / 1 / 7 / 4;
    &__img {
        width: 100%;
        height: auto;
    }
}

///==================
/// Bottom-middle block:

.about-desc {
    grid-area: 5 / 4 / 7 / 8;
    padding: 9% 3% 3% 7%;

    &__message {
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: 0.4rem;
    }

    &__description {
        color: $dark-gray;
        font-weight: 500;
        line-height: 1.3rem;
    }
}

///==================
/// Bottom-right block:

.image-about-2 {
    grid-area: 5 / 8 / 7 / 11;
    &__img {
        width: 100%;
        height: auto;
    }
}

///==================

.attribution {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 11px; 
    text-align: center; 
    font-family: "League Spartan", serif;
    color: black;
    @media only screen and (width < 768px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__link { 
        color: $very-dark-gray;
    }
}
